@import 'node_modules/bootstrap/scss/bootstrap';

@media (min-width: 992px) { //when screen size is at least 992px)

}

@media (max-width: 500px) { /** play with the numbers to find the right height **/
  .hero-img {
    // width: max(300px);
    // height: auto;
    // transform: translate(-150px, 100px);
    opacity: 0.5;
    z-index: 1;
  }

  #home-register {
    z-index: 50;
  }

}


@media (max-width: 700px) { /** play with the numbers to find the right height **/
  #homepage-logo {
    display:none;
  }
}
// @media (max-height: 300px) { /** play with the numbers to find the right height **/
//   .hero-img {
//     width: max(300px);
//     height: auto;
//     display: none;
//   }
// }

// General Settings

body {
  background-color: #FFF7D5;
  font-family: 'PT Sans', sans-serif;

    .home-register-form-wrapper {
      background-color: white;
      border: 3px solid #575AB6;
      min-width: 300px;

      .home-register-text {
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
        font-size: 28px;
        color: #707070;
      }
    }
}



#navbar {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;

  #navbar-logo {
    width: max(100px);
    height: auto;
  }
}

.main-hero-text-wrapper {
  font-family: 'Permanent Marker', sans-serif;
  text-align: center;
  color: #DCA200;
}


// Public Burgers Index Page
#burgers-index {

  .burgers-index-text {
    font-family: 'Permanent Marker', sans-serif;
    text-align: center;
    color: #707070;
  }

  h2 {
    font-family: 'Permanent Marker', sans-serif;
    color: #707070;

  }

  .burger-preview-img {
    width: 200px;
    height: auto;
  }

}

.hero-image-wrap {
  // z-index: -1;
  .hero-img {
    width: auto;
    height: max(400px);
    // display: none;
  }
}

#home-register-form-submit-btn {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  color: #707070;
}

#signup-form-submit {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  color: #707070;
}

#login-form-submit {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  color: #707070;
  background-color: #75EA84;
}


//Sign up modal ===============
#signup-modal  {

  h5 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    color: #707070;
  }

  .modal-content {
    border: 3px solid #575AB6;
  }
}

//Log in modal ===============
#login-modal  {

  h5 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    color: #707070;
  }

  .modal-content {
    border: 3px solid #575AB6;
  }
}



// My Burgers Index ===============
#new-btn {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  background-color: #4BD385;

}


#new-burger-btn {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  background-color: #4BD385;
  color: white
}

#update-burger-btn {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  background-color: #4BD385;
  color: white
}

#destroy-burger-btn {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  color: white
}

// Create Your Burger

#top-ingredient {
  width: max(300px);
  z-index: 100;
  // position: absolute;
}

#mid-ingredient {
  width: max(255px);



  .moved {

    z-index: 50;
    // position: relative;
    // transform: translate(10px,10px);

  }
}

.mid-ingredients {
  top: 0px;
}

#bot-ingredient {
  width: max(300px);
  z-index: 1;
}

//=====================
//Rating

  .hide:not(:checked) ~ label:hover,
  .hide:not(:checked) ~ label:hover ~ label{
    color: #fd4;
  }

  .hide:checked ~ label{
    color: #fd4;
  }

.star-rating {

  input{
  display: none;
  }

  label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: left;
  transition: all 0.2s ease;
  }
}


input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}


#rate-btn {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  color: #707070;

}
