@import 'node_modules/bootstrap/scss/bootstrap';

@media (min-width: 992px) { //when screen size is at least 992px)
.home-register-form-wrapper {
  // min-width: 300px;
}
}

@media (max-width: 500px) { /** play with the numbers to find the right height **/
  .hero-img {
    // width: max(300px);
    // height: auto;
    opacity: 0.5;
  }
}

// @media (max-height: 300px) { /** play with the numbers to find the right height **/
//   .hero-img {
//     width: max(300px);
//     height: auto;
//     display: none;
//   }
// }

body {
  background-color: #FFF7D5;
  font-family: 'PT Sans', sans-serif;

    .home-register-form-wrapper {
      background-color: white;
      border: 3px solid #575AB6;
      min-width: 300px;

      .home-register-text {
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
        font-size: 28px;
        color: #707070;
      }
    }
}

#navbar {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;

  #navbar-logo {
    width: max(100px);
    height: auto;
  }
}

.main-hero-text-wrapper {
  font-family: 'Permanent Marker', sans-serif;
  text-align: center;
  color: #DCA200;
}


// Public Burgers Index Page
#burgers-index {

  .burgers-index-text {
    font-family: 'Permanent Marker', sans-serif;
    text-align: center;
    color: #707070;
  }

  h2 {
    font-family: 'Permanent Marker', sans-serif;
    color: #707070;

  }

  .burger-preview-img {
    width: 200px;
    height: auto;
  }

}

#home-register-form-submit-btn {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  color: #707070;
}

#signup-form-submit {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  color: #707070;
}

#login-form-submit {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  color: #707070;
  background-color: #75EA84;
}

#signup-modal  {

  h5 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    color: #707070;
  }

  .modal-content {
    border: 3px solid #575AB6;
  }
}

#login-modal  {

  h5 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    color: #707070;
  }

  .modal-content {
    border: 3px solid #575AB6;
  }
}

.hero-image-wrap {
  // z-index: -1;
  .hero-img {
    width: auto;
    height: max(400px);
    // display: none;
  }
}

// My Burgers Index
#new-btn {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  background-color: #4BD385;

}
