@import 'node_modules/bootstrap/scss/bootstrap';

@media (min-width: 992px) { //when screen size is at least 992px)
  #selected-ingredient img {
    width: 250px;
    position: absolute;
  }
  .card img {
    width: 150px;
    position: absolute;
  }

  .fa-star {
    font-size: 40px;

  }

  .fas {
    width: 40px;
    padding: 10px;

  }
}

@media (max-width: 992px) {
  .hero-img {

    opacity: 0.5;
    z-index: 1;
    overflow: hidden;

  }

  #home-register {
    z-index: 50;
  }

  #selected-ingredient img {
    width: 130px;
    position: absolute;
  }

  .card img {
    width: 150px;
    position: absolute;
  }

  .fa-star {
    font-size: 20px;

  }
  .fas {
    width: 20px;
    padding: 10px;

  }
}


@media (max-width: 770px) {
  #homepage-logo {
    display:none;
  }
}


// General Settings

body {
  background-color: #FFF7D5;
  font-family: 'PT Sans', sans-serif;

    .home-register-form-wrapper {
      background-color: white;
      border: 3px solid #575AB6;
      min-width: 300px;

      .home-register-text {
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
        font-size: 28px;
        color: #707070;
      }
    }
}



#navbar {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;

  #navbar-logo {
    width: max(100px);
    height: auto;
  }
}

.main-hero-text-wrapper {
  font-family: 'Permanent Marker', sans-serif;
  text-align: center;
  color: #DCA200;
}


// Public Burgers Index Page
#burgers-index {

  .burgers-index-text {
    font-family: 'Permanent Marker', sans-serif;
    text-align: center;
    color: #DCA200;

  }

  h2 {
    font-family: 'Permanent Marker', sans-serif;
    color: #DCA200;


  }

  .burger-preview-img {
    width: 200px;
    height: auto;
  }
  .show-btn {
    text-transform: capitalize;

  }
}


.hero-image-wrap {
  // z-index: -1;
  .hero-img {
    width: auto;
    height: max(400px);
    // display: none;
    overflow: hidden;
  }
}

#home-register-form-submit-btn {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  color: #707070;
}

#signup-form-submit {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  color: #707070;
}

#login-form-submit {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  color: #707070;
  background-color: #75EA84;
}


//Sign up modal ===============
#signup-modal  {

  h5 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    color: #707070;
  }

  .modal-content {
    border: 3px solid #575AB6;
  }
}

//Log in modal ===============
#login-modal  {

  h5 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    color: #707070;
  }

  .modal-content {
    border: 3px solid #575AB6;
  }
}



// My Burgers Index ===============

.title {
  font-family: 'Permanent Marker', sans-serif;
  // text-align: center;
  color: #DCA200;

}
.card {
  background-color: rgba(245, 211, 116, 0.5);
  text-transform: capitalize;

}

.link-success {
  color: rgb(64, 204, 64);
}

#new-btn {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  background-color: #4BD385;

}


#new-burger-btn {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  background-color: #4BD385;
  color: white;
}

#update-burger-btn {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  background-color: #4BD385;
  color: white
}

#destroy-burger-btn {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  color: white
}

//Show your burger / Edit name & description

.burger-title button {
  background-color: orange;
  border: none;
}

.burger-title button:hover {
  background-color: rgb(235, 204, 147);
  border: none;
}

.edit-btn {
  background-color: orange;
  border:none;
  margin: none;
}

.edit-btn:hover {
  background-color: rgb(235, 204, 147);
  border:none;
  margin: none;

}

// Create Your Burger

// #top-ingredient {
//   width: max(300px);
//   z-index: 100;
//   // position: absolute;
// }

// #mid-ingredient {
//   width: max(255px);



//   .moved {

//     z-index: 50;
//     // position: relative;
//     // transform: translate(10px,10px);

//   }
// }

// .mid-ingredients {
//   top: 0px;
// }

// #bot-ingredient {
//   width: max(300px);
//   z-index: 1;
// }

//=====================
//Rating

.star:not(:checked) ~ label:hover,
.star:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}

.star:checked ~ label{
  color: #fd4;
}

.star-rating {
  margin-bottom: 1em;
  input{
    display: none;
  }

  label {
    &:not(:first-child) {
      margin-right: 10px;
    }

    display: inline;
    padding: 0;
    color: #444;
    transition: all 0.2s ease;
  }
}



#rate-btn {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  color: #707070;

}

.search-btn {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  color: white;
  background-color: #4bd3ce;

}

.search-btn:hover {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  color: white;
  background-color: #4bd3ce;
}


.reset-btn {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  color: white;
  background-color: #889d9c;
}

.reset-btn:hover {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  color: white;
  background-color: #889d9c;
}
