<form class="justify-content-center mb-3 text-center d-flex" action="/burgers" method="GET">
  <div class="form-group mx-sm-4 col-3">
    <input class="form-control mx-auto ms-sm-0" type="text" placeholder="Search the name of a burger" name="q" value="<%= filters.q %>">
  </div>

  <button class="search-btn btn btn-success me-3" type="submit">SEARCH</button>
  <a class="reset-btn btn btn-secondary" href="/burgers">RESET</a>
</form>
