<script>
  $(document).ready(function() {
    $signupModal = $('#signup-modal')
    $loginModal = $('#login-modal')
    $formForm = $('#login-form')
    $errorText = $loginModal.find('#error-text')

    $loginModal.on('click', '#signup-in-login', function(e) {
      e.preventDefault()
      $signupModal.modal('show')
      $loginModal.modal('hide')
    })

    $loginModal.on('click', '#login-form-submit', function(e) {
      e.preventDefault()
      const formData = new FormData($formForm[0])

      $errorText.empty()

      axios({
        method: 'POST',
        url: '/api/auth/login',
        data: formData,
        withCredentials: true
      }).then(function() {
        window.location.href = '/my/burgers'
      }).catch(function(err) {
        switch (err.response.status) {
          // case 404:
          // case 401:
          case 406: {
            const { response: { data: { errors } }} = err

            $loginModal.find('.invalid-feedback').empty()
            $loginModal.find('.is-invalid').removeClass('is-invalid')

            errors.forEach(function(error) {
              const { param: fieldName, msg } = error
              const $input = $loginModal.find(`[name="${fieldName}"]`)
              const $invalidFeedback = $input.siblings('.invalid-feedback')
              $input.addClass('is-invalid')
              $invalidFeedback.text(msg)
            })
            break
          }
          case 404:
          case 401: {
            $errorText.html(err.response.data.message)

            // const { response: { data: { errors } }} = err

            // $loginModal.find('.invalid-feedback').empty()
            // $loginModal.find('.is-invalid').removeClass('is-invalid')

            // errors.forEach(function(error) {
            //   const { param: fieldName, msg } = error
            //   const $input = $loginModal.find(`[name="${fieldName}"]`)
            //   const $invalidFeedback = $input.siblings('.invalid-feedback')
            //   $input.addClass('is-invalid')
            //   $invalidFeedback.text(msg)
            // })
            // break
          // }
          // default: {
          //   console.log(err.response)
          //   break
          }
        }
      })
    })
  })


</script>



<div id="login-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center ps-5">
        <h5 class="modal-title pt-0 mx-auto flex-fill">LOGIN</h5>
        <button type="button" class="btn-close ms-auto ps-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form id="login-form" novalidate>
          <div class="form-group mt-3 mb-3">
            <label>EMAIL:</label>
            <input class="form-control" type="email" name="email">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-3 mb-3">
            <label>PASSWORD:</label>
            <input class="form-control" type="password" name="password">
            <div class="invalid-feedback"></div>
            <div id="error-text" class="text-danger"></div>
          </div>
        </form>
      </div>

      <div class="modal-footer py-0">
        <button type="button" id="login-form-submit" class="btn mx-auto mt-3">LOGIN</button>
      </div>

      <button type="button" id="signup-in-login" class="btn btn-link mt-0" data-target="#signup-modal" data-dismiss="modal" data-toggle="modal" data-url="/api/auth/signup" data-method="GET">
        Don't have an account yet? Register here! </button>
    </div>
  </div>
</div>


<!-- <div id="login-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mx-auto">LOGIN</h5>
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <h2 id="error-text" class="text-danger"></h2>
        <form id="login-form" novalidate>
          <div class="form-group">
            <label>EMAIL:</label>
            <input class="form-control" type="email" name="email">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" name="password">
            <div class="invalid-feedback"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="login-form-submit" type="button" class="btn btn-success">LOGIN</button>
      </div>
    </div>
  </div>
</div> -->
