<!-- Modal -->
<div id="signup-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signup-title">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="email-address">Email address</label>
            <input name="email" type="email" class="form-control" id="signup-email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">You'll need to remember this email to login!</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="signup-password" placeholder="Password">
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" id="login-in-signup" class="btn btn-link mr-auto" data-target="#login-modal" data-dismiss="modal" data-toggle="modal">
          Already Registered? <p class="mb-0">Login here</p></button>

        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        <button type="submit" id="register-new" class="btn btn-success" data-url="/api/auth/signup" data-method="POST">Register</button>
      </div>
    </div>
  </div>
</div>
